html,
body {
  margin: 0;
  padding: 0;
  outline: none;
}
.show {
  display: flex;
  justify-content: space-around;
  background: aquamarine;
  padding: 20px;
}
.show button {
  width: 100px;
  font-size: 40px;
  background: rebeccapurple;
  color: gold;
  border: none;
  border-radius: 10px;
}

.show span {
  font-size: 50px;
  text-align: center;
  padding: 20px;
  color: darkred;
}

.dataFetch {
  display: flex;
  justify-content: space-around;
}
