body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rootArea {
  width: 50%;
  margin: 0 auto;
  background: navy;
  color: #fff;
  border-radius: 20px;
}
.calculationArea {
  padding: 20px;
}

.inputArea p,
.operateArea p,
.historyArea p {
  font-size: 30px;
  font-weight: 700;
}

.inputArea input {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 0 10px 10px;
  font-size: 18px;
  width: 100%;
}

.operateArea button {
  padding: 10px 20px;
  margin: 2px;
  font-size: 20px;
  color: red;
  background: #ddd;
  border-radius: 5px;
}
